client_secrets.json
token.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# OS specific
.DS_Store
Thumbs.db

.gcloudignore
command.sh
test_api.ipynb
