# google-auth
google-api-python-client==2.187.0
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3

# LangChain and other dependencies
langchain==1.0.5
python-dotenv==1.1.1
langchain-google-community[gmail]==3.0.0
langchain-fireworks==1.0.0
langchain-google-genai==3.0.3
langchain_openai==1.0.2
langchain_core==1.0.4
langgraph==1.0.3

# Web framework
fastapi[standard]==0.121.3
uvicorn==0.38.0
pydantic==2.12.4
requests==2.32.5
